body {
    margin: 0;
  }
  
  main {
  display: block;
  }

  header{
    border-style: solid;
    border-color: purple ;
  }

  section {
    border-style: solid;
    border-color: green;
  }
  main {
    border-style:solid;
    border-color: red;
    border-width:1px;
    }
  .contenedor-principal {
    border-style: solid;
    border-color : blue);
  }

 
